<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.educapoio">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Permissões necessárias -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.EducApoio"
        tools:targetApi="31">
        <activity
            android:name=".Ajuda"
            android:exported="false" />
        <activity
            android:name=".editar_noticia"
            android:exported="false" />
        <activity
            android:name=".EditarDados"
            android:exported="false" />
        <activity
            android:name=".visualizarDados"
            android:exported="false" />
        <activity
            android:name=".WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".sobre"
            android:exported="false" /> <!-- Adicione o serviço aqui -->
        <service
            android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".NotificationDismissedReceiver" />

        <activity
            android:name=".Administrador"
            android:exported="false" />
        <activity
            android:name=".editarPerfil"
            android:exported="false" />
        <activity
            android:name=".configuracao"
            android:exported="false" />
        <activity
            android:name=".mensagemCadastro"
            android:exported="false" />
        <activity
            android:name=".recupera"
            android:exported="false" />
        <activity
            android:name=".inicio"
            android:exported="false" />
        <activity
            android:name=".splash4"
            android:exported="false" />
        <activity
            android:name=".cadastro"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".splash3"
            android:exported="false" />
        <activity
            android:name=".splash2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Splash1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>